%header
  %h1 Movie Blocks
  %a{href: 'http://e-div.com'} Elegant Division

.content
  %p Schedule
  %h2 What's on Today?

  .movie-blocks.clearfix
    -# Movie Block - Finding Dory
    %a.movie-block.movie-block--blue.movie-block--3{href: "#"}
      .genre Comedy
      .main-inform
        .main-inform_inner
          .hours 18:00
          .title Finding Dory
          .subtitle Unforgettable
      .big-hours 18:00
      .extra-inform
        .extra-inform_inner
          .title Finding Dory
          .subtitle Unforgettable
      .cover
        %img{src: 'https://i.imgur.com/xUKgeng.jpg',
             srcset: 'https://i.imgur.com/xUKgeng.jpg 1x, https://i.imgur.com/kMCyZPU.jpg 2x',
             alt: 'Finding Dory - 2 movies'}

    -# Movie Block - The Nice Guys
    %a.movie-block.movie-block--orange.movie-block--3{href: "#"}
      .genre Action
      .main-inform
        .main-inform_inner
          .hours 20:00
          .title The Nice Guys
          .subtitle Premiere
      .big-hours 20:00
      .extra-inform
        .extra-inform_inner
          .title The Nice Guys
          .subtitle Premiere
      .cover
        %img{src: 'https://i.imgur.com/re44PJy.jpg',
             srcset: 'https://i.imgur.com/re44PJy.jpg 1x, https://i.imgur.com/MEnA5SZ.jpg 2x',
             alt: 'The Nice Guys'}

    -# Movie Block - The Purge: Election Year
    %a.movie-block.movie-block--green.movie-block--3{href: "#"}
      .genre Action
      .main-inform
        .main-inform_inner
          .hours 22:00
          .title
            The Purge:
            %br
            Election Year
      .big-hours 22:00
      .extra-inform
        .extra-inform_inner
          .title The Purge: Election Year
          .subtitle Premiere
      .cover
        %img{src: 'https://i.imgur.com/why3ZoQ.jpg',
             srcset: 'https://i.imgur.com/why3ZoQ.jpg 1x, https://i.imgur.com/NphtX1Z.jpg 2x',
             alt: 'The Purge: Election Year'}

  %h2 Square blocks
  .movie-blocks.clearfix
    -# Square Movie Block - Finding Dory
    %a.movie-block.movie-block--blue.movie-block--square.movie-block--3{href: "#"}
      .genre Comedy
      .main-inform
        .main-inform_inner
          .hours 18:00
          .title Finding Dory
          .subtitle Unforgettable
      .big-hours 18:00
      .extra-inform
        .extra-inform_inner
          .title Finding Dory
          .subtitle Unforgettable

    -# Square Movie Block - The Nice Guys
    %a.movie-block.movie-block--orange.movie-block--square.movie-block--3{href: "#"}
      .genre Action
      .main-inform
        .main-inform_inner
          .hours 20:00
          .title The Nice Guys
          .subtitle Premiere
      .big-hours 20:00
      .extra-inform
        .extra-inform_inner
          .title The Nice Guys
          .subtitle Premiere

    -# Square Movie Block - The Purge: Election Year
    %a.movie-block.movie-block--green.movie-block--square.movie-block--3{href: "#"}
      .genre Horror
      .main-inform
        .main-inform_inner
          .hours 22:00
          .title
            The Purge:
            %br
            Election Year
      .big-hours 22:00
      .extra-inform
        .extra-inform_inner
          .title The Purge: Election Year
          .subtitle Premiere

  %h2 Color themes
  %ul.color-themes.nav.clearfix
    %li{style: "background-color: #FFDC0E;"} Yellow
    %li{style: "background-color: #FF6F0E;"} Orange
    %li{style: "background-color: #e90d4e;"} Pink
    %li{style: "background-color: #7055b0;"} Purple
    %li{style: "background-color: #1378B4;"} Blue
    %li{style: "background-color: #0BC651;"} Green